th{
	border: 1px solid black;
	background: #00FFCC;
	padding: 10px;
}
td{
	border: 1px solid black;
	padding: 10px;
}
table{
	border-collapse: collapse;
	width: 400px;

}

.impar{
	background-color: #FFFF99;

}

.par{
	background-color: #FF6600;
}

.total{
	background-color: #9999FF;
}

#container{
	width: 700px;
	position: absolute;
	left: 500px;
	right: 500px;
	border-collapse: collapse;
}

tr:hover {
  background-color: blue;
}





