body {
	background: #61bdc8;
}

#conteudo {
	background: #ffffff;
	padding: 20px;
	width: 1600px;
	margin: 30px auto;
}

.caixa {
	background: red;
	margin: 20px;
	width: 100px;
	height: 100px;
	color: #ffffff;
}

#relativo {
	position: relative;
	left: 40px;
}

#absoluto {
	position: absolute;
	left: 40px;
}

#fixo {
	position: fixed;
	left: 250px;
	top: 0px;
}