body {
	background:#c9f19b;
}

#conteudo{
	background: #ffffff;
	padding: 10px;
	width: 900px;
	margin: 30px auto;
}

.caixa{
	background: rgb(255, 60, 30);
	margin: 10px;
	width: 100px;
	height: 50px;
	color: #150df6;
}

#relativo{
	position: relative;
	left: 30px;
}

#absoluto{
	position: absolute;
	left: 30px;
}

#fixo{
	position: fixed;
	left: 200px;
	top: 20px;
}
