.conteudo{
	font-size: 40px;
}

.fontserif{
	font-family: "Time New Roman", "Abhaya Libre", "Cinzel", "PT Serif", "sans-serif;";
	font-size: 6.10em;
	font-style: oblique;
}
.fontsans-serif{
	font-family: "Verdana", " Lombok Typeface", "Jaden", "Ikaros", "sans-serif;";
	font-size: 3.20em;
	font-style: normal;
}
.fontmonospace{
	font-family: "Courier New", "Bitstream Vera Sans Mono", "Monaco", "Anonymous" "sans-serif;";
	font-size: 2.25em;
	font-style: oblique;
}
